body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: white;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 1em;
  max-width: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #677558;
  padding: 20px;
}

.navbar h1 {
  color: #fcf75e;
  font-family: Metrophobic;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.navbar nav a {
  text-decoration: none;
  color: black;
  margin-left: 20px;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: none;
  width: 100%;
}

.slide img {
  width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slide-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

h2 {
  color: yellow;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button.prev,
button.next {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 24px; /* Размер иконки */
  color: #333; /* Цвет иконки */
}

button:hover {
  background-color: #f4f4f4; /* Слегка серый фон при наведении */
}

.hashtag-filter {
  margin: 20px;
  text-align: center;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
}

.card img {
  width: 100%;
  height: auto;
}

.card-text {
  padding: 15px;
}

.slide-text a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;

  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
}

.card-text a {
  width: 90%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;

  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
}

.card-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Количество строк, которое нужно показать */
  -webkit-box-orient: vertical;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.terms_policy {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
